@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: #0D0D0D !important;
  color: #F5F5F5 !important;
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #F5F5F5 !important;
}
